
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    flex-direction: column;
    padding: 80px 0;
}
.container h2{
    font-style: italic;
    font-size: 30px;
}
.button{
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    width: 100px;

}
.button:hover{
    cursor: pointer;
}
#green{
    background: green;
}
#orange{
    background: orange;
}
#red{
    background: red;
}
#yellow{
    background: yellow;
}